@media screen and (min-width: 20.5em) { /*328px*/
}


@media screen and (min-width: 28.75em) { /*460px*/
	body{
		font-size: 112.5%;
	}

	.wrapper{
		width: 80%;
	}

	.work-item{
		margin-bottom: 4em;
	}

	.work-header{
		margin-bottom: 1em;
	}
	.work-copy{
		display: inline-block;
		padding: 2em 0 1.25em;
	}

	.work-copy-desc, .work-copy-roles{
		float: left;
		width: 45%;
	}

	.work-copy-desc{
		margin: 0 10% 0 0;
	}
}

@media screen and (min-width: 37.5em) { /*600px*/

	.work-nav{
		display: inline-block;
	}
}

@media screen and (min-width: 50em) { /*800px*/
	body{
		font-size: 125%;
	}

	.name-title{
		float: left;
	}

	.resume-contact{
		float: right;
		text-align: right;
	}

	.resume-header{
		text-align: left;

		h2{
			margin-bottom: 0;
		}

		h4{
			margin-bottom: 0;
		}
	}

	.resume-dates{
		display: inline-block;
		float: right;
		font-size: 0.7em;
		color: @grey;
	}

}

@media screen and (min-width: 60em) { /*1100px*/
	body{
		font-size: 137.5%;
	}
}