/*-------------------------------------------------------------------------
RESET
-------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: normal 100%/1.5 @serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: @black;
	background: url(../images/bg.gif);
	color: @white;
	text-rendering: optimizeLegibility;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection, ::-moz-selection {
	background-color: @grey;
}

a, a:link, a:visited{
	color: inherit;
	text-decoration: underline;
}

a, img{
	border: none;
}

*, *:before, *:after{
	.box-sizing;
}

/*-------------------------------------------------------------------------
SEMANTIC CSS
-------------------------------------------------------------------------*/

// Defaults which you can freely override
@column-width: 60;
@gutter-width: 20;
@columns: 12;

// Utility variable — you should never need to modify this
@gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

// Set @total-width to 100% for a fluid layout
@total-width: 100%;

// Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
// @min-width: 960;
// @correction: 0.5 / @min-width * 100 * 1%;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}


/*-------------------------------------------------------------------------
GRID
-------------------------------------------------------------------------*/
body {
	width: 100%;
	.clearfix;
	.transition;
}

.row(@columns:@columns) {
	display: block;
	width: @total-width*((@gutter-width + @gridsystem-width)/@gridsystem-width);
	margin: 0 @total-width*(((@gutter-width*.5)/@gridsystem-width)*-1);
	// *width: @total-width*((@gutter-width + @gridsystem-width)/@gridsystem-width)-@correction;
	// *margin: 0 @total-width*(((@gutter-width*.5)/@gridsystem-width)*-1)-@correction;
	.clearfix;
}
.column(@x,@columns:@columns) {
	display: inline;
	float: left;
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width);
	margin: 0 @total-width*((@gutter-width*.5)/@gridsystem-width);
	// *width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width)-@correction;
	// *margin: 0 @total-width*((@gutter-width*.5)/@gridsystem-width)-@correction;
}
.push(@offset:1) {
	margin-left: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);
}
.pull(@offset:1) {
	margin-right: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);
}

/*-------------------------------------------------------------------------
CONTAINERS
-------------------------------------------------------------------------*/
.wrapper{
	width:80%;
	max-width:1200px;
	margin:0 auto;
	text-align:center;
	display: none;
}

/*-------------------------------------------------------------------------
BOX-SIZING
-------------------------------------------------------------------------*/
.box-sizing{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/*-------------------------------------------------------------------------
BOX-SHADOW
-------------------------------------------------------------------------*/
.box-shadow(@arguments1, @arguments2) {
  -webkit-box-shadow: @arguments1, @arguments2;
  -moz-box-shadow: @arguments, @arguments2;
  box-shadow: @arguments, @arguments2;
}

/*-------------------------------------------------------------------------
TRANSITIONS
-------------------------------------------------------------------------*/
.transition(@duration: .2s, @ease: ease-out) {
  -webkit-transition: -webkit-transform @duration @ease, all @duration @ease;
  -moz-transition: -moz-transform @duration @ease, all @duration @ease;
  -o-transition: -o-transform @duration @ease, all @duration @ease;
  transition: all @duration @ease;
}

/*------------------------------
COLORS
------------------------------*/
@black	: #2f2f2f;
@white	: #fff;
@grey		: #999;
@orange	: #e34000;

/*------------------------------
FONTS
------------------------------*/
@font-face {font-family: 'Entypo';src:url('../fonts/entypo/entypo.eot');src:url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),url('../fonts/entypo/entypo.woff') format('woff'),url('../fonts/entypo/entypo.ttf') format('truetype'),url('../fonts/entypo/entypo.svg') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family: 'EntypoSocial';src:url('../fonts/entypo/entypo-social.eot');src:url('../fonts/entypo/entypo-social.eot?#iefix') format('embedded-opentype'),url('../fonts/entypo/entypo-social.woff') format('woff'),url('../fonts/entypo/entypo-social.ttf') format('truetype'),url('../fonts/entypo/entypo-social.svg') format('svg');font-weight:normal;font-style:normal;}

@sans: "brandon-grotesque", helvetica, sans-serif;
@serif: "chaparral-pro", helvetica, serif;

/*------------------------------
TYPOGRAPHY
------------------------------*/
h2, h3, h4{
	letter-spacing: 2px;
	text-transform: uppercase;
}

h2{
	font-family: @sans;
	font-weight: 700;
}

h3{
	font-family: @sans;
	font-size: 0.8em;
	font-weight: 700;
}

h4{
	font-family: @sans;
	font-size: 0.9em;
	font-weight: 700;
}

p{
	line-height: 1.2;
	font-size: 0.8em;
}

/*------------------------------
HEADER
------------------------------*/
header{
	margin-top: 4em;
}

h1{
	display: inline-block;
	width: 100%;
	font-family: @sans;
	font-size: 5.6em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.off-wrap{
	display: inline-block;
	position: relative;
	.transition;
}

.off-tilt{
	position: relative;
	-webkit-transform: rotate(16deg);
	top: .25em;
	left: -3px;
}

/*------------------------------
ABOUT
------------------------------*/
.about{
	margin: 0 10%;

	.about-copy{
		font-size: 1.3em;
		line-height: 1.25;
	}
}

.social{
	margin-top: 1em;

	a{
		display: inline-block;
		margin: 0 0.5em;
		font-family: @serif;
		color: @white;
		.transition;

		&:hover{
			line-height: 0;
		}
	}
}

@import url('work.less');
@import url('resume.less');
@import url('media-queries.less');