/*-------------------------------------------------------------------------
RESET
-------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font: normal 100%/1.5 "chaparral-pro", helvetica, serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #2f2f2f;
  background: url(../images/bg.gif);
  color: #ffffff;
  text-rendering: optimizeLegibility;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection {
  background: #00a1e4;
}
::-moz-selection {
  background: #00a1e4;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
}
a,
img {
  border: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------------------------------------------------------------
SEMANTIC CSS
-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
GRID
-------------------------------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1;
  -webkit-transition: -webkit-transform 0.2s ease-out, all 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, all 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*-------------------------------------------------------------------------
CONTAINERS
-------------------------------------------------------------------------*/
.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: none;
}
/*-------------------------------------------------------------------------
BOX-SIZING
-------------------------------------------------------------------------*/
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------------------------------------------------------------
BOX-SHADOW
-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
TRANSITIONS
-------------------------------------------------------------------------*/
/*------------------------------
COLORS
------------------------------*/
/*------------------------------
FONTS
------------------------------*/
/*------------------------------
TYPOGRAPHY
------------------------------*/
h2,
h3,
h4,
h5 {
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2 {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-weight: 700;
}
h3,
h4 {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
}
h5 {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0.2em;
}
p {
  line-height: 1.3;
  font-size: 0.9em;
}
sub {
  text-transform: lowercase;
}
/*------------------------------
HEADER
------------------------------*/
header {
  margin: 3em 0;
  text-align: center;
  padding: 0;
}
.logo:hover {
  background: none;
  color: inherit;
  text-decoration: inherit;
}
h1 {
  display: inline-block;
  width: 100%;
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-size: 5.6em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.off-wrap {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-out, all 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, all 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.off-tilt {
  position: relative;
  -webkit-transform: rotate(16deg);
  top: .25em;
  left: -3px;
}
/*------------------------------
INTRO PARAGRAPH & LINKS
------------------------------*/
.about {
  margin: 0 5%;
}
.about-copy {
  width: auto;
  margin: 0 auto;
  font-size: 1.3em;
  line-height: 1.25;
}
.header-links {
  margin: 1.25em auto 0;
  white-space: nowrap;
}
.header-links li {
  position: relative;
  display: inline-block;
  margin: 0;
}
.header-links li:last-child {
  display: none;
}
.header-links a {
  font-family: "chaparral-pro", helvetica, serif;
  padding: 1px 5px 0;
}
.header-links .social-link-active {
  color: #2f2f2f;
  background: #ffffff;
  text-decoration: none;
}
/*------------------------------
BACK TO TOP
------------------------------*/
#top {
  position: fixed;
  bottom: -2em;
  right: 2.5%;
  width: 1.8em;
  height: 1.8em;
  line-height: 2;
  color: #999999;
  text-align: center;
  text-decoration: none;
  border: 1px solid #999999;
  border-bottom: 0;
  border-radius: 1px 1px 0 0;
  cursor: pointer;
  -webkit-transform: bottom 0.5s linear;
  transform: bottom 0.5s linear;
}
#top:hover {
  background: #ffffff;
  color: #2f2f2f;
}
/*------------------------------
MEDIA QUERIES
------------------------------*/
@media screen and (min-width: 20.5em) {
  /*328px*/
  a:hover {
    background: #ffffff;
    color: #2f2f2f;
    text-decoration: none;
  }
  .header-links li:last-child {
    display: inline-block;
  }
}
@media screen and (min-width: 28.75em) {
  /*460px*/
  body {
    font-size: 112.5%;
  }
  header {
    margin: 8em 0;
  }
  .about-copy {
    width: 80%;
  }
  .header-links li {
    margin: 0 0.5em;
  }
}
@media screen and (min-width: 37.5em) {
  /*600px*/
  .wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 50em) {
  /*800px*/
  body {
    font-size: 125%;
  }
}
@media screen and (min-width: 60em) {
  /*1100px*/
  body {
    font-size: 137.5%;
  }
}
/*------------------------------
WORK
------------------------------*/
.work-item {
  margin-bottom: 2em;
}
.work-header {
  margin-bottom: 1em;
}
.work-header h2 {
  float: left;
  font-size: 1.1em;
}
.desktop-carousel-nav {
  display: none;
}
.mobile-carousel-nav {
  text-align: right;
  margin-right: -0.25em;
}
.mobile-carousel-nav .next-mobile,
.mobile-carousel-nav .prev-mobile {
  display: inline-block;
  padding: 0 0.5em;
  margin: 0 0.25em;
  border: 1px solid #cccccc;
  border-radius: 1px;
  height: 1.5em;
  line-height: 1.4;
  text-decoration: none;
  color: #cccccc;
}
.work-item-count {
  display: none;
}
.work-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.work-carousel li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.work-carousel li:first-child {
  position: relative;
  display: block;
  float: left;
}
.work-carousel img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
}
.desktop {
  border: 1px solid #999999;
}
.mobile {
  border: 1px solid transparent;
}
.work-copy {
  padding: 1em 0 1.5em;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.work-copy p {
  color: #cccccc;
}
.work-copy-desc {
  margin-bottom: 0.75em;
}
.work-copy-roles p {
  margin-bottom: 1em;
}
.work-copy-roles a {
  margin-left: -5px;
  padding: 1px 5px 0;
}
@media screen and (min-width: 28.75em) {
  /*460px*/
  .work-item {
    margin-bottom: 4em;
  }
  .work-header {
    height: 1em;
    line-height: 1em;
  }
  .mobile-carousel-nav {
    display: none;
  }
  .desktop-carousel-nav {
    display: inline-block;
    float: right;
  }
  .desktop-carousel-nav a {
    padding: 1px 5px 0;
    font-style: italic;
  }
  .work-item-count {
    display: inline-block;
    margin-left: 0.5em;
    opacity: 0.5;
    float: right;
  }
  .work-copy {
    display: inline-block;
    padding: 1.6em 0 1.25em;
    text-align: left;
  }
  .work-copy-desc,
  .work-copy-roles {
    float: left;
    width: 45%;
  }
  .work-copy-desc {
    margin: 0 10% 0 0;
  }
}
/*------------------------------
RESUME
------------------------------*/
.resume {
  display: none;
  position: absolute;
  width: 80%;
  padding: 2em 2em 1em;
  top: 3em;
  left: 10%;
  text-align: left;
  background: #ffffff;
  *zoom: 1;
  color: #2f2f2f;
  border-radius: 1px;
  z-index: 10000;
  -webkit-transform: -webkit-scale(1.4);
  -moz-transform: -moz-scale(1.4);
  -ms-transform: -ms-scale(1.4);
  -o-transform: -o-scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.5s ease-in;
  -webkit-backface-visibility: hidden;
}
.resume:before,
.resume:after {
  content: "";
  display: table;
}
.resume:after {
  clear: both;
}
.resume h3 {
  margin-bottom: 0.25em;
  font-size: 1.1em;
  border-bottom: 1px solid #999999;
}
.resume h4 {
  font-size: 0.8em;
}
.resume h5 {
  font-size: 0.7em;
  color: #999999;
}
.resume h5 span {
  float: right;
}
.resume a:hover {
  background: #2f2f2f;
  color: #ffffff;
}
.resume ul {
  margin: 0 0 1em 0.9em;
  list-style-type: disc;
}
.resume li,
.resume p {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  line-height: 1.25;
}
.resume-header {
  padding-bottom: 1em;
  *zoom: 1;
}
.resume-header:before,
.resume-header:after {
  content: "";
  display: table;
}
.resume-header:after {
  clear: both;
}
.resume-header h2 {
  font-size: 1.6em;
  line-height: 1;
}
.resume-header h4 {
  margin-bottom: 0.75em;
}
.resume-contact {
  color: #999999;
  font-size: 0.8em;
}
.resume-contact a {
  display: block;
  text-decoration: none;
}
.resume-contact .pdf-download {
  text-decoration: underline;
}
.resume-dates {
  display: none;
}
.resume-content-item {
  margin-bottom: 1em;
}
.resume-drop {
  -webkit-transform: scale(1);
}
.resume-off {
  left: -150%;
}
#close-resume {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 1em;
  height: 1em;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 100;
  cursor: pointer;
  text-align: center;
  line-height: 1;
}
#close-resume:hover {
  background: #2f2f2f;
  color: #ffffff;
}
@media screen and (min-width: 50em) {
  /*800px*/
  body {
    font-size: 125%;
  }
  .name-title {
    float: left;
  }
  .resume-contact {
    float: right;
    text-align: right;
  }
  .resume-header h2 {
    margin-bottom: 0;
  }
  .resume-header h4 {
    margin-bottom: 0;
  }
  .resume-dates {
    display: inline-block;
    float: right;
    font-size: 0.7em;
    color: #999999;
  }
}
@media screen and (min-width: 75em) {
  /*1200px*/
  .resume h3 {
    border: none;
    margin: 0;
  }
  .resume-header h2 {
    margin-bottom: 0.5em;
  }
  .resume-section {
    float: left;
    width: 100%;
    padding-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #ccc;
  }
  .resume-section-header {
    float: left;
    width: 20%;
  }
  .resume-content {
    float: left;
    width: 77.5%;
    padding-left: 2.5%;
    margin-left: 1.25%;
    border-left: 1px solid #ccc;
  }
}
