/*-------------------------------------------------------------------------
RESET
-------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font: normal 100%/1.5 "chaparral-pro", helvetica, serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #2f2f2f;
  background: url(../images/bg.gif);
  color: #ffffff;
  text-rendering: optimizeLegibility;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection,
::-moz-selection {
  background-color: #999999;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
}
a,
img {
  border: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------------------------------------------------------------
SEMANTIC CSS
-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
GRID
-------------------------------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1;
  -webkit-transition: -webkit-transform 0.2s ease-out, all 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, all 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*-------------------------------------------------------------------------
CONTAINERS
-------------------------------------------------------------------------*/
.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: none;
}
/*-------------------------------------------------------------------------
BOX-SIZING
-------------------------------------------------------------------------*/
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------------------------------------------------------------
BOX-SHADOW
-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
TRANSITIONS
-------------------------------------------------------------------------*/
/*------------------------------
COLORS
------------------------------*/
/*------------------------------
FONTS
------------------------------*/
@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo/entypo.eot');
  src: url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo/entypo.woff') format('woff'), url('../fonts/entypo/entypo.ttf') format('truetype'), url('../fonts/entypo/entypo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EntypoSocial';
  src: url('../fonts/entypo/entypo-social.eot');
  src: url('../fonts/entypo/entypo-social.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo/entypo-social.woff') format('woff'), url('../fonts/entypo/entypo-social.ttf') format('truetype'), url('../fonts/entypo/entypo-social.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------
TYPOGRAPHY
------------------------------*/
h2,
h3,
h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2 {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-weight: 700;
}
h3 {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
}
h4 {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0.2em;
}
p {
  line-height: 1.2;
  font-size: 0.8em;
}
sub {
  text-transform: lowercase;
}
/*------------------------------
HEADER
------------------------------*/
header {
  margin-top: 4em;
}
h1 {
  display: inline-block;
  width: 100%;
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-size: 5.6em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.off-wrap {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-out, all 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, all 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.off-tilt {
  position: relative;
  -webkit-transform: rotate(16deg);
  top: .25em;
  left: -3px;
}
/*------------------------------
ABOUT
------------------------------*/
.about {
  margin: 0 10%;
}
.about .about-copy {
  font-size: 1.3em;
  line-height: 1.25;
}
.links {
  margin-top: 1em;
}
.links > li {
  margin: 0 0.5em;
}
.links > li:hover > a {
  line-height: 0;
  display: inline-block;
}
.links li {
  position: relative;
  display: inline-block;
}
.links a {
  display: inline-block;
  font-family: "chaparral-pro", helvetica, serif;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.2s ease-out, all 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, all 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.social-links {
  display: none;
  position: absolute;
  top: 1.9em;
  left: 0;
}
.social-links li {
  position: relative;
  float: left;
  display: block;
  margin-bottom: 0.5em;
}
.social-links a {
  height: 1.75em;
  line-height: 1.9;
  padding: 0 0.5em;
  background: #ffffff;
  color: #2f2f2f;
  border-radius: 2px;
  text-decoration: none;
  font-size: 0.8em;
  -webkit-transition: -webkit-transform 0.2s ease-out, all 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, all 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-backface-visibility: hidden;
}
.social-links a:hover {
  background: #ccc;
}
.social-link-active {
  line-height: 0;
}
/*------------------------------
WORK
------------------------------*/
.work {
  margin-top: 8em;
  text-align: left;
}
.work h2 {
  float: left;
}
.work-item {
  margin-bottom: 4em;
}
.work-header {
  display: inline-block;
  margin-bottom: 1em;
  width: 100%;
  height: 1em;
  line-height: 1em;
}
.work-nav {
  float: right;
  font-size: 0.9em;
}
.work-nav a {
  margin: 0 0.25em;
  -webkit-transition: -webkit-transform 0.2s ease-out, all 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, all 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.work-nav a:hover {
  color: #cccccc;
}
.work-item-count {
  margin-left: 0.5em;
  opacity: 0.5;
  float: right;
}
.work-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.work-carousel li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.work-carousel li:first-child {
  position: relative;
  display: block;
  float: left;
}
.work-carousel img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
}
.desktop {
  border: 1px solid #999999;
}
.mobile {
  border: 1px solid transparent;
}
.work-copy {
  padding: 2em 0 1.25em;
  border-bottom: 1px solid #999999;
}
.work-copy a {
  -webkit-transition: -webkit-transform 0.2s ease-out, all 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out, all 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out, all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.work-copy a:hover {
  color: #cccccc;
}
.work-copy-roles p {
  margin-bottom: 1em;
}
/*------------------------------
RESUME
------------------------------*/
.resume {
  padding: 2em;
  margin: 2em auto 4em;
  text-align: left;
  background: #ffffff;
  color: #2f2f2f;
  border-radius: 1px;
  *zoom: 1;
}
.resume:before,
.resume:after {
  content: "";
  display: table;
}
.resume:after {
  clear: both;
}
.resume h2 {
  margin-bottom: 0.25em;
  font-size: 1.1em;
  border-bottom: 1px solid #999999;
}
.resume h3 {
  font-size: 0.8em;
}
.resume h4 {
  font-size: 0.7em;
  color: #999999;
}
.resume h4 span {
  float: right;
}
.resume ul {
  margin: 0 0 1em 0.9em;
  list-style-type: disc;
}
.resume li,
.resume p {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  line-height: 1.25;
}
.resume-dates {
  float: right;
  font-size: 0.7em;
  color: #999999;
}
.resume-content-item {
  margin-bottom: 1em;
}
@media screen and (min-width: 37.5em) {
  /*600px*/
  .resume {
    padding: 2em 4em;
  }
}
@media screen and (min-width: 75em) {
  /*1200px*/
  .resume h2 {
    border: none;
    margin: 0;
  }
  .resume-section {
    float: left;
    width: 100%;
    padding-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #ccc;
  }
  .resume-header {
    float: left;
    width: 20%;
  }
  .resume-content {
    float: left;
    width: 77.5%;
    padding-left: 2.5%;
    margin-left: 1.25%;
    border-left: 1px solid #ccc;
  }
}
@media screen and (min-width: 20.5em) {
  /*328px*/
}
@media screen and (min-width: 28.75em) {
  /*460px*/
  body {
    font-size: 112.5%;
  }
  .work-copy {
    display: inline-block;
  }
  .work-copy-desc,
  .work-copy-roles {
    float: left;
    width: 45%;
  }
  .work-copy-desc {
    margin-right: 10%;
  }
}
@media screen and (min-width: 50em) {
  /*800px*/
  body {
    font-size: 125%;
  }
}
@media screen and (min-width: 60em) {
  /*1100px*/
  body {
    font-size: 137.5%;
  }
}
