/*-------------------------------------------------------------------------
RESET
-------------------------------------------------------------------------*/
/* line 4, ../../assets/scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../../assets/scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../assets/scss/base/_reset.scss */
body {
  line-height: 1;
  font: normal 100%/1.5 "chaparral-pro", helvetica, serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 40, ../../assets/scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../../assets/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../../assets/scss/base/_reset.scss */
a, a:link, a:visited {
  color: inherit;
}

/* line 52, ../../assets/scss/base/_reset.scss */
a, img {
  border: none;
}

/* line 7, ../../assets/scss/common/_typography.scss */
a {
  display: inline-block;
}
/* line 10, ../../assets/scss/common/_typography.scss */
a:hover, a:focus {
  color: #999;
  outline: none;
}

/* line 4, ../../assets/scss/common/_layout.scss */
body {
  padding: 2em;
  font-family: georgia, serif;
  color: #444;
}
@media (min-width: 28.75em) {
  /* line 4, ../../assets/scss/common/_layout.scss */
  body {
    font-size: 112.5%;
  }
}
@media (min-width: 53.125em) {
  /* line 4, ../../assets/scss/common/_layout.scss */
  body {
    font-size: 125%;
    padding: 5em 2em 0 6em;
  }
}
@media (min-width: 72em) {
  /* line 4, ../../assets/scss/common/_layout.scss */
  body {
    font-size: 137.5%;
  }
}

/* line 22, ../../assets/scss/common/_layout.scss */
.wrapper {
  width: 80%;
  max-width: 1200px;
}

/* line 27, ../../assets/scss/common/_layout.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../assets/scss/modules/_header.scss */
.intro-header {
  font-size: 1.25em;
}

/* line 8, ../../assets/scss/modules/_header.scss */
.about-copy {
  width: auto;
  line-height: 1.25;
}

/* line 13, ../../assets/scss/modules/_header.scss */
.my-name {
  display: inline;
}
/* line 16, ../../assets/scss/modules/_header.scss */
.my-name:focus {
  outline: none;
}

/* line 21, ../../assets/scss/modules/_header.scss */
.off-wrap {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  padding-right: 2px;
  margin-right: -2px;
  -webkit-transition: -webkit-transform 0.2s ease-in, all 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in, all 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in, all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 31, ../../assets/scss/modules/_header.scss */
.off-tilt {
  position: relative;
  -webkit-transform: rotate(16deg);
  -ms-transform: -ms-rotate(16deg);
  -o-transform: -o-rotate(16deg);
  -moz-transform: -moz-rotate(16deg);
  transform: rotate(16deg);
  -webkit-backface-visibility: hidden;
  top: 0.15em;
}

/* line 42, ../../assets/scss/modules/_header.scss */
.header-links {
  margin-top: 1em;
}
/* line 45, ../../assets/scss/modules/_header.scss */
.header-links li {
  display: block;
  position: relative;
  margin: 0;
}
@media (min-width: 72em) {
  /* line 45, ../../assets/scss/modules/_header.scss */
  .header-links li {
    display: inline-block;
  }
  /* line 53, ../../assets/scss/modules/_header.scss */
  .header-links li + li {
    margin-left: 0.25em;
  }
}

/* line 60, ../../assets/scss/modules/_header.scss */
.side-project {
  margin-top: 5em;
}
/* line 63, ../../assets/scss/modules/_header.scss */
.side-project a:hover, .side-project a:focus {
  color: #72ff00;
}
