// =======================
// Header Styles
// =======================
.intro-header{
	font-size:1.25em;
}

.about-copy{
	width: auto;
	line-height: 1.25;
}

.my-name{
	display: inline;

	&:focus{
		outline: none;
	}
}

.off-wrap{
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	padding-right: 2px; //So last 'f' doesn't get cut off
	margin-right: -2px;
	@include transition;
}

.off-tilt{
	position: relative;
	-webkit-transform: rotate(16deg);
	-ms-transform: -ms-rotate(16deg);
	-o-transform: -o-rotate(16deg);
	-moz-transform: -moz-rotate(16deg);
	transform: rotate(16deg);
	-webkit-backface-visibility: hidden;
	top: 0.15em;
}

.header-links{
	margin-top: 1em;

	li{
		display: block;
		position: relative;
		margin: 0;

		@include larger-than(extra-large){
			display: inline-block;

			&+li{
				margin-left: 0.25em;
			}
		}
	}
}

.side-project{
	margin-top: 5em;

	a:hover, a:focus{
		color: #72ff00;
	}
}