// =======================
// Header Styles
// =======================
.intro-header{
	margin-top: 2em;
	font-size:2em;

	a{
		padding: 10px 0 0;

		&:hover, &:focus{
			margin: 0 -5px;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

.about-copy{
	width: auto;
	line-height: 1.25;
}

.my-name{
	display: inline;
	&:focus{
		outline: none;
	}
}

.off-wrap{
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	padding-right: 2px; //So last 'f' doesn't get cut off
	margin-right: -2px;
	@include transition;
}

.off-tilt{
	position: relative;
	-webkit-transform: rotate(16deg);
	-ms-transform: -ms-rotate(16deg);
	-o-transform: -o-rotate(16deg);
	-moz-transform: -moz-rotate(16deg);
	transform: rotate(16deg);
	-webkit-backface-visibility: hidden;
	top: 0.15em;
}

.header-links{
	margin-top: 1em;

	li{
		display: block;
		position: relative;
		margin: 0;

		@include larger-than(large){
			display: inline-block;

			&+li{
				margin-left: 0.25em;
			}
		}
	}
}