/*======= FONTS ========*/
@font-face {
	font-family: AlteHaasReg;
	src: url('../fonts/AlteHaasGroteskRegular.ttf');
}

@font-face {
	font-family: LeagueGothic;
	src: url('../fonts/LeagueGothic.otf');
}

@font-face {
	font-family: AdelleBasicItalic;
	src: url('../fonts/AdelleBasicBoldItalic.otf');
}

/*======= BASICS ========*/

body{
	margin:0 auto;
	font-family:LeagueGothic,helvetica,sans-serif;
	background:url(../images/greylinepattern.png) fixed; 
}

/*======= HEADER ========*/

#top-section{
	padding-top:100px;
	margin:0 auto;
}

hgroup{
	text-indent:-999px;
	background: transparent url(../images/compnetworklogo.png) scroll top center no-repeat;
	height:300px;
}

/*======= PRIMARY NAV ========*/

#primary-nav{
	width:100%;
	margin:0 auto;
	height:50px;
	line-height:50px;
	margin-top:50px;
	margin-bottom:200px;
	font-size:200%;	
}

#primary-nav ul{
	text-transform:uppercase;
	list-style:none;
	text-align:center;
	width:800px;
	margin:0 auto;
	padding-left:0;
}

#primary-nav ul li{
	display:inline-block;	
	letter-spacing:2px;
	font: LeagueGothic,helvetica,sans-serif;
}

#primary-nav li:not(:last-of-type){
	margin-right:60px;
}

#primary-nav a{
	text-decoration:none;
	color:black;
	display:block;		
}

#primary-nav a:hover:before{
	content: "\003C";
	position:relative;
	margin-left:-19px;		
}

#primary-nav a:hover:after{
	content: "/\003E";
	position:absolute;
}

.what-is-os{
	width:100%;
	text-align:center;
}


/*======= PRIMARY CONTENT ========*/

#section1, #section2, #section3{
	margin:40px;
	border-top:2px solid black;
	padding-top:2px;	
}

#section1 p{
	font: 95% AlteHaasReg,helvetica,sans-serif;
	margin-left: 50px;
	margin-top:0;
	line-height: 20px;
	width: 900px;
}

.top{
	float:right;
	padding:20px;
	font-size:150%;
	color:black;
	text-decoration:none;
	margin-top: -100px;

}

.section h2{
	font-size:250%;
	padding-left:50px;
	margin-bottom:0;
	text-transform:uppercase;
	padding-top:40px;
	border-top:solid 3px black;
	margin-top:0;
	font-weight:normal;
}


.section div{
	
	padding-left:90px;	
}

body .section ul li ul{
	list-style:circle;
	padding-left:80px;
}

.section ul li .twitter-hashtag-button{
	width:64px;
	height:64px;
	float:right;
	padding-right:40px;
}

.section h3{
	margin:0;
	padding-left:40px;
	font-size:175%;
	font-weight:normal;
}

.section ul li{
	margin-left:17px;
}

.section div p, .section ul{
	font-size:60%;
	padding-left:20px;
	font: 95% AlteHaasReg,helvetica,sans-serif;
	margin-left: 50px;
	margin-top:0;
	line-height: 20px;
	width: 800px;
}

.section a{
	color:black;
}

.twitter-div{
	float:right;
}


