<!DOCTYPE HTML>
<html>
 	<head>
 		<meta charset="utf-8">
 		<title>Nathan Igdaloff - UX Designer / Web Developer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Styles -->
 		<link rel="stylesheet" href="./public/css/screen.css" media="screen" />

 		<!-- Typekit -->
		<script type="text/javascript" src="//use.typekit.net/pmn4fwk.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-29359807-1', 'auto');  // Replace with your property ID.
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
		</script>

 	</head>
 	<body>
		<noscript>
			<p>Javascript is currently disabled. Please <a href="http://www.google.com/support/bin/answer.py?answer=23852" target="_blank">enable javascript</a> for the optimal experience!</p>
		</noscript>

 		<div class="wrapper">
	 		<header class="intro-header">
	 			<h1 class="my-name">Nathan Igdaloff</h1>
	 			<div class="about">
	 				<h2 class="about-copy">I'm a product manager and developer based in NYC. I'm passionate about music, responsive design, and the future of the web. Glad you could make&nbsp;it.</h2>
	 				<ul class="header-links">
	 					<li><a id="resume-link" href="#" onClick="ga('_trackEvent', 'Header Links', 'Click Link', 'Résumé');">Résumé</a></li>
	 					<li><a href="mailto:louis&#46;nathan&#64;gmail.com" onClick="ga('_trackEvent', 'Header Links', 'Click Link', 'Email');">Email</a></li>
	 					<li><a target="_blank" href="http://linkedin.com/in/nathanigdaloff" onClick="ga('_trackEvent', 'Header Links', 'Click Link', 'LinkedIn');">LinkedIn</a></li>
	 					<li><a target="_blank" href="http://twitter.com/igdaloff" onClick="ga('_trackEvent', 'Header Links', 'Click Link', 'Twitter');">Twitter</a></li>
	 					<li><a target="_blank" href="http://github.com/igdaloff" onClick="ga('_trackEvent', 'Header Links', 'Click Link', 'Github');">Github</a></li>
	 				</ul>
	 			</div>
	 		</header>

	 		{{> body }}

 		</div>

 		<!-- SCRIPTS -->
		<script src="./public/js/vendors.js"></script>
		<script src="./public/js/app.js"></script>

 	</body>
</html>