// =======================
// Layout
// =======================
body{
	font-family: $serif;
	color: $black;

	@include larger-than(small){
		font-size: 112.5%;
	}
	@include larger-than(large){
		font-size: 125%;
	}

	@include larger-than(extra-large){
		font-size: 137.5%;
	}
}

.wrapper{
	width:80%;
	max-width:1200px;
	margin:0 auto;
}

*, *:before, *:after{
	@include box-sizing;
}