// =======================
// Media Queries
// =======================
$mqs: (
	extra-small: 20em, /*320px*/
  small: 28.75em, /*460px*/
  medium: 37.5em, /*600px*/
  large: 53.125em, /*850px*/
  extra-large: 72em, /*1152px*/
  huge: 100em
);

@mixin smaller-than($size) {

  $width: map-get($mqs, $size);
  @media (max-width: $width) {
    @content;
  }
}

@mixin larger-than($size) {

  $width: map-get($mqs, $size);
  @media (min-width: $width) {
    @content;
  }
}