// =======================
// Fonts
// =======================
$sans: "brandon-grotesque", helvetica, sans-serif;
$serif: georgia, serif;

a{
	display: inline-block;

	&:hover, &:focus{
		color: #999;
		outline: none;
	}
}