// =======================
// Fonts
// =======================
$sans: "brandon-grotesque", helvetica, sans-serif;
$serif: "chaparral-pro", georgia, serif;

a{
	display: inline-block;
	border-bottom: 3px solid;
	text-decoration: none;
	line-height: 0.75;

	&:hover, &:focus{
		background: $black;
		color: $white;
		text-decoration: none;
		outline: none;
		border-bottom: 3px solid $black;
	}
}